@media screen and (min-width:1166px) {
  .ytcenter-player-darkside-bg #playlist,
  .ytcenter-player-darkside-bg #player-unavailable,
  .ytcenter-player-darkside-bg #player-api,
  .ytcenter-player-darkside-bg #playlist-tray {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }
}

.ytcenter-player-darkside-bg #page {
  width: auto !important;
}

.ytcenter-player-darkside-bg #guide-container {
  margin-left: 0!important;
  margin-right: 0!important;
}
.ytcenter-player-darkside-bg #player {
  width: auto !important;
  margin-left: 0!important;
  margin-right: 0!important;
  background-color: #1B1B1B; /* Yes, we have cookies */
}
.ytcenter-player-darkside-bg.ytcenter-player-darkside-bg-retro #player {
  background-color: #444;
  background-image: -moz-linear-gradient(top, #555, #333);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr='#555555', endColorStr='#333333');
}