@media screen and (min-width:1166px) {
  .ytcenter-site-center.ytcenter-player-darkside-bg .watch-medium #playlist,
  .ytcenter-site-center.ytcenter-player-darkside-bg .watch-medium #player-unavailable,
  .ytcenter-site-center.ytcenter-player-darkside-bg .watch-medium #player-api,
  .ytcenter-site-center.ytcenter-player-darkside-bg .watch-medium #playlist-tray,
  .ytcenter-site-notcenter.ytcenter-resize-disaligned.ytcenter-player-darkside-bg .watch-medium #playlist,
  .ytcenter-site-notcenter.ytcenter-resize-disaligned.ytcenter-player-darkside-bg .watch-medium #player-unavailable,
  .ytcenter-site-notcenter.ytcenter-resize-disaligned.ytcenter-player-darkside-bg .watch-medium #player-api,
  .ytcenter-site-notcenter.ytcenter-resize-disaligned.ytcenter-player-darkside-bg .watch-medium #playlist-tray {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }
}

.ytcenter-site-center.ytcenter-player-darkside-bg  #page {
  width: auto !important;
}

.ytcenter-site-center.ytcenter-player-darkside-bg #guide-container {
  margin-left: 0!important;
  margin-right: 0!important;
}
.ytcenter-site-center.ytcenter-player-darkside-bg #player.watch-medium {
  margin-left: 0!important;
  margin-right: 0!important;
}
.ytcenter-player-darkside-bg #player.watch-medium {
  width: auto !important;
  background-color: #1B1B1B; /* Yes, we have cookies */
}
.ytcenter-player-darkside-bg.ytcenter-player-darkside-bg-retro #player.watch-medium {
  background-color: #444;
  background-image: -moz-linear-gradient(top, #555, #333);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr='#555555', endColorStr='#333333');
}
.ytcenter-player-darkside-bg.ytcenter-non-resize #player.watch-small {
  background-color: transparent !important;
}