body.ytcenter-hide-footer #footer-container {
  display: none;
}

#watch-header {
  margin-top: 0!important;
}

body.player-dock #player-api {
  position: fixed !important;
  z-index: 10 !important;
}

body.player-dock #player-dock-offset {
  display: block !important;
}

#player-dock-offset {
  display: none;
}

body.hide-header-transition #masthead-positioner {
  transition: top .6s;
  -moz-transition: top .6s;
  -ms-transition: top .6s;
  -o-transition: top .6s;
  -webkit-transition: top .6s;
}

body.hide-header-transition #masthead-positioner-height-offset {
  transition: height .6s;
  -moz-transition: height .6s;
  -ms-transition: height .6s;
  -o-transition: height .6s;
  -webkit-transition: height .6s;
}

body.hide-header #masthead-positioner {
  position: fixed;
  top: -50px;
}
body.hide-header #masthead-positioner-height-offset,
body.hide-header.appbar-hidden.ytcenter-ticker-hidden #masthead-positioner-height-offset {
  height: 0!important;
  overflow: hidden;
}

.watch-stage-mode-fix #watch-appbar-playlist.watch-playlist .playlist-videos-list {
  position: relative;
  max-height: 390px;
}

body.static-yt-logo #yt-masthead .doodle-removed #logo {
  background-position: -48px -478px !important;
}

/* Report Template */
/*.ytc-copying .wrapper {
  display: block !important;
}*/
/*.ytc-copying .preview {
  display: none !important;
}*/

/* YouTube temporary style bug fix. Issue #1064 */
.yt-uix-button.yt-uix-button-subscribe-branded,
.yt-uix-button.yt-uix-button-subscribed-branded {
  border-width: 1px !important;
}

.watch8 #watch7-views-info {
  bottom: initial !important;
  top: -6px !important;
}

#watch-description .ypc-offer-thumbnail {
  position: relative;
}

.appbar-flexwatch .watch-stage-mode #player, .appbar-flexwatch-mini .watch-stage-mode #player {
  margin-top: 10px !important;
}

.hide-lang-alert #alerts #yt-lang-alert-container {
  display: none !important;
}

.static-header #masthead-positioner {
  position: relative !important;
}

.static-header #masthead-positioner-height-offset {
  display: none !important;
}

a .ytcenter-video-thumb-show-hover {
  display: none;
}

a:hover .ytcenter-video-thumb-show-hover {
  display: block;
}

a .ytcenter-video-thumb-hide-hover {
  display: block;
}

a:hover .ytcenter-video-thumb-hide-hover {
  display: none;
}

.ytcenter-hue {
  position: absolute!important;
  top: 0!important;
  background: -moz-linear-gradient(top,#f00 0,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%)!important;
  background: -ms-linear-gradient(top,#f00 0,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%)!important;
  background: -o-linear-gradient(top,#f00 0,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%)!important;
  background: -webkit-gradient(linear,left top,left bottom,from(#f00),color-stop(0.17,#ff0),color-stop(0.33,#0f0),color-stop(0.5,#0ff),color-stop(0.67,#00f),color-stop(0.83,#f0f),to(#f00))!important;
  background: -webkit-linear-gradient(top,#f00 0,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%)!important;
  background: linear-gradient(top,#f00 0,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%)!important;
}

.ytcenter-hue .ie-1 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000',endColorstr='#ffff00');
}

.ytcenter-hue .ie-2 {
  height: 16%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00',endColorstr='#00ff00');
}

.ytcenter-hue .ie-3 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff00',endColorstr='#00ffff');
}

.ytcenter-hue .ie-4 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff',endColorstr='#0000ff');
}

.ytcenter-hue .ie-5 {
  height: 16%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000ff',endColorstr='#ff00ff');
}

.ytcenter-hue .ie-6 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff',endColorstr='#ff0000');
}

.ytcenter-range {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #eee;
  outline: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.ytcenter-range .ytcenter-range-handle {
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font-weight: bold;
  font-size: 11px;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  border-top: 0;
  border-bottom: 0;
}

.ytcenter-hue.ytcenter-range {
  border-color: #000;
}

.ytcenter-hue.ytcenter-range .ytcenter-range-handle {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.ytcenter-range.ytcenter-hue .ytcenter-range-handle {
  border: 0!important;
  -moz-border-radius: 0!important;
  -webkit-border-radius: 0!important;
  border-radius: 0!important;
}

.ytcenter-range.ytcenter-hue {
  border: 0!important;
  outline: 0;
  overflow: visible;
  -moz-border-radius: 0!important;
  -webkit-border-radius: 0!important;
  border-radius: 0!important;
}

.ytcenter-range-handle {
  position: absolute;
  top: 0;
  cursor: default!important;
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  border-color: #d3d3d3;
  background-color: #f8f8f8;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffcfcfc,EndColorStr=#fff8f8f8);
  background-image: -moz-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
  background-image: -ms-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
  background-image: -o-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(100%,#f8f8f8));
  background-image: -webkit-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
  background-image: linear-gradient(to bottom,#fcfcfc 0,#f8f8f8 100%);
}
.ltr .ytcenter-range-handle {
  left: 0;
}
.rtl .ytcenter-range-handle {
  right: 0;
}

.ytcenter-range-handle .ytcenter-range-handle-left {
  position: absolute;
  top: -7px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 7px;
}
.ltr .ytcenter-range-handle .ytcenter-range-handle-left {
  left: -7px;
  border-left-color: #fff;
}
.rtl .ytcenter-range-handle .ytcenter-range-handle-left {
  right: -7px;
  border-right-color: #fff;
}

.ytcenter-range-handle .ytcenter-range-handle-right {
  position: absolute;
  top: -7px;
  left: 7px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 7px;
  border-right-color: #fff;
}
.ltr .ytcenter-range-handle .ytcenter-range-handle-right {
  left: 7px;
  border-right-color: #fff;
}
.rtl .ytcenter-range-handle .ytcenter-range-handle-right {
  right: 7px;
  border-left-color: #fff;
}

.ytcenter-range.ytcenter-hue .ytcenter-range-handle .ytcenter-range-handle-right {
  border-top: 7px solid transparent!important;
  border-bottom: 7px solid transparent!important;
}
.ltr .ytcenter-range.ytcenter-hue .ytcenter-range-handle .ytcenter-range-handle-right {
  border-right: 7px solid #000!important;
}
.rtl .ytcenter-range.ytcenter-hue .ytcenter-range-handle .ytcenter-range-handle-right {
  border-left: 7px solid #000!important;
}

.ytcenter-colorpicker {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 1px solid #eee;
}

.ytcenter-colorpicker-saturation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: -webkit-gradient(linear,0 0,100% 0,from(#FFF),to(rgba(204,154,129,0)));
  background-image: -webkit-linear-gradient(left,#FFF,rgba(204,154,129,0));
  background-image: -moz-linear-gradient(left,#fff,rgba(204,154,129,0));
  background-image: -o-linear-gradient(left,#fff,rgba(204,154,129,0));
  background-image: -ms-linear-gradient(left,#fff,rgba(204,154,129,0));
  background-image: linear-gradient(to right,#fff,rgba(204,154,129,0));
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1,startColorstr='#FFFFFFFF, endColorstr=#00CC9A81');
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1,startColorstr='#FFFFFFFF',endColorstr='#00CC9A81');
}
.ltr .ytcenter-colorpicker-saturation,
.lrt .ytcenter-colorpicker-value,
.lrt .ytcenter-colorpicker-handler {
  left: 0;
}
.rtl .ytcenter-colorpicker-saturation,
.rtl .ytcenter-colorpicker-value,
.rtl .ytcenter-colorpicker-handler {
  right: 0;
}

.ytcenter-colorpicker-value {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: -webkit-gradient(linear,0 100%,0 0,from(#000),to(rgba(204,154,129,0)));
  background-image: -webkit-linear-gradient(bottom,#000,rgba(204,154,129,0));
  background-image: -moz-linear-gradient(bottom,#000,rgba(204,154,129,0));
  background-image: -o-linear-gradient(bottom,#000,rgba(204,154,129,0));
  background-image: -ms-linear-gradient(bottom,#000,rgba(204,154,129,0));
  background-image: linear-gradient(to top,#000,rgba(204,154,129,0));
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81, endColorstr=#FF000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81',endColorstr='#FF000000');
}

.ytcenter-colorpicker-handler {
  position: absolute;
  top: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 5px;
  height: 5px;
  border: 1px solid #fff;
  background: #000;
}

.force-hid {
  display: none!important;
}

.ytcenter-placement-section {
  border: 1px solid #e6e6e6;
  border-top-width: 0;
  border-bottom-width: 0;
  padding: 0 18px;
}

body.ytcenter-branding-remove-banner #page.watch #guide-container.branded {
  top: 0!important;
}

body.ytcenter-branding-remove-background #guide-container.branded {
  background: none repeat scroll 0% 0% transparent!important;
}

.ytcenter-settings-content {
  color: rgb(85, 85, 85);
}

.ltr #sb-wrapper #sb-container {
  right: 28px!important;
}
.rtl #sb-wrapper #sb-container {
  left: 28px!important;
}

.ytcenter-embed {
  display: inline-block;
  vertical-align: top;
}

/*.video-list-item > a {
  width: 100%;
}*/

.ytcenter-settings-header .yt-uix-button-epic-nav-item {
  border: none;
  padding: 0 3px 3px 3px;
  cursor: pointer;
}

.ytcenter-settings-header a.yt-uix-button.yt-uix-button-epic-nav-item, .ytcenter-settings-header button.yt-uix-button-epic-nav-item, .ytcenter-settings-header .epic-nav-item, .ytcenter-settings-header .epic-nav-item-heading {
  border: none;
  padding: 0 3px 3px 3px;
  cursor: pointer;
  background: none;
  color: #9c9c9c;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  line-height: 29px;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.ytcenter-settings-header .yt-uix-button-epic-nav-item.selected {
  border-bottom: 3px solid;
  border-color: #b00;
  padding-bottom: 0;
  color: #333;
}

.ytcenter-settings-header a.yt-uix-button-epic-nav-item:hover,
.ytcenter-settings-header a.yt-uix-button-epic-nav-item.selected,
.ytcenter-settings-header button.yt-uix-button-epic-nav-item:hover,
.ytcenter-settings-header button.yt-uix-button-epic-nav-item.selected,
.ytcenter-settings-header .epic-nav-item:hover,
.ytcenter-settings-header .epic-nav-item.selected,
.ytcenter-settings-header .epic-nav-item-heading {
  height: 29px;
  line-height: 29px;
  vertical-align: bottom;
  color: #333;
  border-bottom: 3px solid;
  border-color: #b00;
  padding-bottom: 0;
  display: inline-block;
}

.ytcenter-lights-off #watch7-video, 
.ytcenter-lights-off #p, 
.ytcenter-lights-off #player-api,
.ytcenter-lights-off #player-api-legacy,
.ytcenter-lights-off #movie_player {
  position: relative;
  z-index: 70!important;
}

.ytcenter-lights-off #page-container {
  z-index: auto!important;
}

.ytcenter-lights-off #guide {
  z-index: 0!important;
}

.ytcenter-lights-off #masthead-positioner {
  transform: none !important;
}

.ytcenter-lights-off .ytcenter-lights-off-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 49;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.ltr.ytcenter-lights-off .ytcenter-lights-off-overlay {
  left: 0;
}
.rtl.ytcenter-lights-off .ytcenter-lights-off-overlay {
  right: 0;
}

.ytcenter-lights-off.ytcenter-lights-off-click-through .ytcenter-lights-off-overlay {
  pointer-events: none;
}

.ytcenter-branding-remove-banner #watch7-branded-banner,
.ytcenter-branding-remove-banner #player-branded-banner,
.ytcenter-branding-remove-banner #player-branded-banner-legacy {
  display: none!important;
}

.ytcenter-repeat-icon {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflMCg1ne.png) -19px -25px;
  width: 30px;
  height: 18px;
}

#watch7-action-buttons .yt-uix-button-content {
  color: #555;
  text-shadow: 0 1px 0 #fff;
}

.ytcenter-uix-button-toggled {
  border-color: #c6c6c6!important;
	background-color: #e9e9e9!important;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.20)!important;
	-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.20)!important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.20)!important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.20)!important;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fff8f8f8,EndColorStr=#ffeeeeee)!important;
	background-image: -moz-linear-gradient(top,#f8f8f8 0,#eee 100%)!important;
	background-image: -ms-linear-gradient(top,#f8f8f8 0,#eee 100%)!important;
	background-image: -o-linear-gradient(top,#f8f8f8 0,#eee 100%)!important;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f8f8f8),color-stop(100%,#eee))!important;
	background-image: -webkit-linear-gradient(top,#f8f8f8 0,#eee 100%)!important;
	background-image: linear-gradient(to bottom,#f8f8f8 0,#eee 100%)!important;
}

.ytcenter-align {
  padding: 0!important;
};

.ytcenter-align > #watch7-video {
  margin: 0 auto!important;
}

.ytcenter-fill,
.ytcenter-fill #player-api,
.ytcenter-fill #player-api-legacy {
  width: 100%!important;
  height: 100%!important;
}

ul.ytcenter-menu-3d-hide li.ytcenter-menu-item-3d {
  display: none;
}

.ytcenter-range {
  display: inline-block;
  cursor: default;
  position: relative;
  border: 1px solid;
  outline: 0;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-color: #CCC #CCC #AAA;
  background: white;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ytcenter-range a.ytcenter-range-handle {
  position: absolute;
  top: -1px;
  outline: none;
  cursor: default;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ltr .ytcenter-range a.ytcenter-range-handle {
  left: 0;
  margin-left: -.5em;
}
.rtl .ytcenter-range a.ytcenter-range-handle {
  right: 0;
  margin-right: -.5em;
}

.ytcenter-remove-ads-page .ad-div,
.ytcenter-remove-ads-page .mastad,
.ytcenter-remove-ads-page .lohp-pyv-shelf-container,
.ytcenter-remove-ads-page .masthead-ad-control,
.ytcenter-remove-ads-page .masthead-ad-control-lihp,
.ytcenter-remove-ads-page .watch-pyv-vid,
.ytcenter-remove-ads-page .branded-page-v2-top-row,
.ytcenter-remove-ads-page .pyv-afc-ads-container,
.ytcenter-remove-ads-page #feed-pyv-container,
.ytcenter-remove-ads-page #premium-yva,
.ytcenter-remove-ads-page #ad_creative_1,
.ytcenter-remove-ads-page #watch-channel-brand-div {
  display: none!important;
}
.ytcenter-remove-ads-page #content .branded-page-v2-has-top-row.branded-page-v2-container .branded-page-v2-top-row {
  display: block!important;
}
.ytcenter-remove-ads-page .branded-page-v2-masthead-ad-header.masthead-ad-expanded .branded-page-v2-primary-col {
  border-top: 0!important;
}

.ltr .watch-sidebar {
  margin-right: 0!important;
}
.rtl .watch-sidebar {
  margin-left: 0!important;
}

#movie_player {
  overflow: hidden!important;
}

#player,
#player-api,
#player-api-legacy,
#movie_player,
#movie_player *:focus {
  outline: 0!important;
}

.watch-playlist-collapsed #watch7-playlist-tray-container {
  height: 0!important;
  top: 0 !important;
}
.ltr .watch-playlist-collapsed #watch7-playlist-tray-container {
  left: auto!important;
}
.rtl .watch-playlist-collapsed #watch7-playlist-tray-container {
  right: auto!important;
}

.ytcenter-site-center #page,
.ytcenter-site-center #yt-masthead,
.ytcenter-site-center #ad_creative_1,
.ytcenter-site-center #footer,
.ytcenter-site-center #masthead_child_div,
.ytcenter-site-center #masthead-expanded-lists-container,
.ytcenter-site-center #baseDiv,
.ytcenter-site-center.no-sidebar #alerts,
.ytcenter-site-center.no-sidebar #ticker .ytg-wide,
.ytcenter-site-center.no-sidebar #masthead-subnav,
#watch7-sidebar,
.watch7-sidebar,
.ytcenter-site-watch.ytcenter-resize-disaligned #player,
.ytcenter-site-watch.ytcenter-resize-aligned #player {
  -moz-transition: none!important;
  -ms-transition: none!important;
  -o-transition: none!important;
  -webkit-transition: none!important;
  transition: none!important;
}


.flex-width-enabled > * #page,
.flex-width-enabled #guide + #content {
  max-width: 1422px!important;
  min-width: 1003px!important;
  width: auto!important;
}

.flex-width-enabled #yt-admin.hh {
  width: 100%!important;
}

.ltr.ytcenter-site-center.flex-width-enabled #header {
  padding-left: 0!important;
}
.rtl.ytcenter-site-center.flex-width-enabled #header {
  padding-right: 0!important;
}

.flex-width-enabled #header #masthead-subnav,
.flex-width-enabled #header #masthead-subnav ul {
  width: 100%!important;
}

/*.ytcenter-site-watch #page,
.ytcenter-site-watch #player,
.ytcenter-site-watch #player-legacy,
.ytcenter-site-watch #content {
  left: auto!important;
  margin-left: 0!important;
  margin-right: 0!important;
}*/

.ltr.ytcenter-site-watch.ytcenter-site-center #page,
.ltr.ytcenter-site-watch.ytcenter-site-center #player,
.ltr.ytcenter-site-watch.ytcenter-site-center #player-legacy,
.ltr.ytcenter-site-watch.ytcenter-site-center #content,
.ltr.ytcenter-site-watch.site-center-aligned #page,
.ltr.ytcenter-site-watch.site-center-aligned #player,
.ltr.ytcenter-site-watch.site-center-aligned #player-legacy,
.ltr.ytcenter-site-watch.site-center-aligned #content,
.ltr.ytcenter-site-watch.ytcenter-resize-disaligned.ytcenter-site-center #player,
.ltr.ytcenter-site-watch.ytcenter-resize-disaligned.ytcenter-site-center #player-legacy,
.ltr.ytcenter-site-watch.ytcenter-resize-algined.ytcenter-site-center #player,
.ltr.ytcenter-site-watch.ytcenter-resize-algined.ytcenter-site-center #player-legacy {
  left: auto!important;
  margin-left: auto!important;
  margin-right: auto!important;
}
.rtl.ytcenter-site-watch.ytcenter-site-center #page,
.rtl.ytcenter-site-watch.ytcenter-site-center #player,
.rtl.ytcenter-site-watch.ytcenter-site-center #player-legacy,
.rtl.ytcenter-site-watch.ytcenter-site-center #content,
.rtl.ytcenter-site-watch.site-center-aligned #page,
.rtl.ytcenter-site-watch.site-center-aligned #player,
.rtl.ytcenter-site-watch.site-center-aligned #player-legacy,
.rtl.ytcenter-site-watch.site-center-aligned #content,
.rtl.ytcenter-site-watch.ytcenter-resize-disaligned.ytcenter-site-center #player,
.rtl.ytcenter-site-watch.ytcenter-resize-disaligned.ytcenter-site-center #player-legacy,
.rtl.ytcenter-site-watch.ytcenter-resize-algined.ytcenter-site-center #player,
.rtl.ytcenter-site-watch.ytcenter-resize-algined.ytcenter-site-center #player-legacy {
  right: auto!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

body > #page {
  max-width: 100%!important;
  width: auto!important;
}

#watch7-creator-bar {
  position: relative;
  z-index: 3;
}

.video-list .video-response:first-child a {
  position: static!important;
}

.video-list .video-response a {
  position: absolute;
}

.watch7-playlist-bar {
  width: 100%!important;
}

.watch7-playlist-bar-right {
  width: auto!important;
}

/*.ytcenter-site-watch #player,
.ytcenter-site-watch #player-legacy {
  overflow: hidden;
}*/

.ytcenter-intelligentfeed .shelf-wrapper,
.ytcenter-intelligentfeed .feed-item-collapsed-container .feed-item-collapsed-items {
  display: none;
}
.ytcenter-intelligentfeed .shelf-wrapper:first-child {
  display: block;
}

.ytcenter-intelligentfeed.ytcenter-intelligentfeed-minimized .shelf-wrapper:first-child {
  max-height: 378px;
}
.ytcenter-intelligentfeed .feed-item-main-content .yt-uix-shelfslider-item {
  margin-bottom: 10px;
  height: 179px;
}
.ltr .ytcenter-intelligentfeed .feed-item-main-content .yt-uix-shelfslider-item {
  float: left;
}
.rtl .ytcenter-intelligentfeed .feed-item-main-content .yt-uix-shelfslider-item {
  float: right;
}
.ytcenter-intelligentfeed .feed-item-main-content .shelf-wrapper {
  margin-bottom: 0!important;
  overflow: hidden;
}

/* Thumbnail */
.ytcenter-thumbnail-quality {
  position: absolute;
  vertical-align: middle;
  padding: 2px 4px;
  line-height: 14px;
  font-weight: bold;
  font-size: 11px;
  zoom: 1;
  border-radius: 2px;
}


.ytcenter-thumbnail-watchlater-pos-topleft .addto-watch-later-button-success,
.ytcenter-thumbnail-watchlater-pos-topleft .addto-watch-later-button-loading,
.ytcenter-thumbnail-watchlater-pos-topleft .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-pos-topleft .addto-watch-later-button-sign-in,
.ytcenter-thumbnail-timecode-pos-topleft .video-time,
.ytcenter-thumbnail-quality-pos-topleft .ytcenter-thumbnail-quality,
.ytcenter-thumbnail-ratingcount-pos-topleft .ytcenter-thumbnail-ratingcount {
  top: 2px!important;
  left: 2px!important;
  right: auto!important;
}
.ltr .watched.ytcenter-thumbnail-watchlater-pos-topleft .addto-watch-later-button-success,
.ltr .watched.ytcenter-thumbnail-watchlater-pos-topleft .addto-watch-later-button-loading,
.ltr .watched.ytcenter-thumbnail-watchlater-pos-topleft .addto-watch-later-button,
.ltr .watched.ytcenter-thumbnail-watchlater-pos-topleft .addto-watch-later-button-sign-in,
.ltr .watched.ytcenter-thumbnail-timecode-pos-topleft .video-time,
.ltr .watched.ytcenter-thumbnail-quality-pos-topleft .ytcenter-thumbnail-quality,
.ltr .watched.ytcenter-thumbnail-ratingcount-pos-topleft .ytcenter-thumbnail-ratingcount {
  top: 20px!important;
  left: 2px!important;
  right: auto!important;
}
.ytcenter-thumbnail-watchlater-pos-topright .addto-watch-later-button-success,
.ytcenter-thumbnail-watchlater-pos-topright .addto-watch-later-button-loading,
.ytcenter-thumbnail-watchlater-pos-topright .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-pos-topright .addto-watch-later-button-sign-in,
.ytcenter-thumbnail-timecode-pos-topright .video-time,
.ytcenter-thumbnail-quality-pos-topright .ytcenter-thumbnail-quality,
.ytcenter-thumbnail-ratingcount-pos-topright .ytcenter-thumbnail-ratingcount {
  top: 2px!important;
  right: 2px!important;
  left: auto!important;
}
.rtl .watched.ytcenter-thumbnail-watchlater-pos-topright .addto-watch-later-button-success,
.rtl .watched.ytcenter-thumbnail-watchlater-pos-topright .addto-watch-later-button-loading,
.rtl .watched.ytcenter-thumbnail-watchlater-pos-topright .addto-watch-later-button,
.rtl .watched.ytcenter-thumbnail-watchlater-pos-topright .addto-watch-later-button-sign-in,
.rtl .watched.ytcenter-thumbnail-timecode-pos-topright .video-time,
.rtl .watched.ytcenter-thumbnail-quality-pos-topright .ytcenter-thumbnail-quality,
.rtl .watched.ytcenter-thumbnail-ratingcount-pos-topright .ytcenter-thumbnail-ratingcount {
  top: 20px!important;
  right: 2px!important;
  left: auto!important;
}
.ytcenter-thumbnail-watchlater-pos-bottomleft .addto-watch-later-button-success,
.ytcenter-thumbnail-watchlater-pos-bottomleft .addto-watch-later-button-loading,
.ytcenter-thumbnail-watchlater-pos-bottomleft .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-pos-bottomleft .addto-watch-later-button-sign-in,
.ytcenter-thumbnail-timecode-pos-bottomleft .video-time,
.ytcenter-thumbnail-quality-pos-bottomleft .ytcenter-thumbnail-quality,
.ytcenter-thumbnail-ratingcount-pos-bottomleft .ytcenter-thumbnail-ratingcount {
  bottom: 2px!important;
  left: 2px!important;
  right: auto!important;
}
.ytcenter-thumbnail-watchlater-pos-bottomright .addto-watch-later-button-success,
.ytcenter-thumbnail-watchlater-pos-bottomright .addto-watch-later-button-loading,
.ytcenter-thumbnail-watchlater-pos-bottomright .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-pos-bottomright .addto-watch-later-button-sign-in,
.ytcenter-thumbnail-timecode-pos-bottomright .video-time,
.ytcenter-thumbnail-quality-pos-bottomright .ytcenter-thumbnail-quality,
.ytcenter-thumbnail-ratingcount-pos-bottomright .ytcenter-thumbnail-ratingcount {
  bottom: 2px!important;
  right: 2px!important;
  left: auto!important;
}

#playlist-bar-lists-content .playlist-bar-item .ytcenter-thumbnail-watchlater-pos-topleft .addto-watch-later-button,
#playlist-bar-lists-content .playlist-bar-item .ytcenter-thumbnail-watchlater-pos-topleft .addto-watch-later-button-sign-in,
#playlist-bar-lists-content .playlist-bar-item .ytcenter-thumbnail-timecode-pos-topleft .video-time,
#playlist-bar-lists-content .playlist-bar-item .ytcenter-thumbnail-quality-pos-topleft .ytcenter-thumbnail-quality,
#playlist-bar-lists-content .playlist-bar-item .ytcenter-thumbnail-ratingcount-pos-topleft .ytcenter-thumbnail-ratingcount {
  top: 30px!important;
}

#playlist-bar-lists-content .playlist-bar-item .ytcenter-thumbnail-watchlater-pos-topright .addto-watch-later-button,
#playlist-bar-lists-content .playlist-bar-item .ytcenter-thumbnail-watchlater-pos-topright .addto-watch-later-button-sign-in,
#playlist-bar-lists-content .playlist-bar-item .ytcenter-thumbnail-timecode-pos-topright .video-time,
#playlist-bar-lists-content .playlist-bar-item .ytcenter-thumbnail-quality-pos-topright .ytcenter-thumbnail-quality,
#playlist-bar-lists-content .playlist-bar-item .ytcenter-thumbnail-ratingcount-pos-topright .ytcenter-thumbnail-ratingcount {
  top: 30px!important;
}


.ytcenter-thumbnail-watchlater-visible-always .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-visible-hide_hover .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-visible-always .addto-watch-later-button-sign-in,
.ytcenter-thumbnail-watchlater-visible-hide_hover .addto-watch-later-button-sign-in {
  display: block !important;
  opacity: 1 !important;
}
.ytcenter-thumbnail-timecode-visible-always .video-time,
.ytcenter-thumbnail-timecode-visible-hide_hover .video-time {
  display: block !important;
  opacity: 0.75 !important;
  filter: alpha(opacity=75) !important;
}

.ytcenter-thumbnail-watchlater-visible-show_hover .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-visible-never .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-visible-show_hover .addto-watch-later-button-sign-in,
.ytcenter-thumbnail-watchlater-visible-never .addto-watch-later-button-sign-in,
.ytcenter-thumbnail-timecode-visible-show_hover .video-time,
.ytcenter-thumbnail-timecode-visible-never .video-time,
.ytcenter-thumbnail-watchlater-visible-hide_hover a:hover .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-visible-hide_hover a:hover .addto-watch-later-button-sign-in,
.ytcenter-thumbnail-timecode-visible-hide_hover a:hover .video-time,
.ytcenter-thumbnail-watchlater-visible-hide_hover div.thumb-wrapper:hover .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-visible-hide_hover div.thumb-wrapper:hover .addto-watch-later-button-sign-in,
.ytcenter-thumbnail-timecode-visible-hide_hover div.thumb-wrapper:hover .video-time,
.ytcenter-thumbnail-watchlater-visible-hide_hover div.yt-lockup-thumbnail:hover .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-visible-hide_hover div.yt-lockup-thumbnail:hover .addto-watch-later-button-sign-in,
.ytcenter-thumbnail-timecode-visible-hide_hover div.yt-lockup-thumbnail:hover .video-time {
  display: none!important;
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}

.ytcenter-thumbnail-watchlater-visible-show_hover a:hover .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-visible-show_hover a:hover .addto-watch-later-button-sign-in,
.ytcenter-thumbnail-watchlater-visible-show_hover div.thumb-wrapper:hover .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-visible-show_hover div.thumb-wrapper:hover .addto-watch-later-button-sign-in,
.ytcenter-thumbnail-watchlater-visible-show_hover div.yt-lockup-thumbnail:hover .addto-watch-later-button,
.ytcenter-thumbnail-watchlater-visible-show_hover div.yt-lockup-thumbnail:hover .addto-watch-later-button-sign-in {
  display: block !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.ytcenter-thumbnail-timecode-visible-show_hover a:hover .video-time,
.ytcenter-thumbnail-timecode-visible-show_hover div.thumb-wrapper:hover .video-time,
.ytcenter-thumbnail-timecode-visible-show_hover div.yt-lockup-thumbnail:hover .video-time {
  display: block !important;
  opacity: 0.75 !important;
  filter: alpha(opacity=75) !important;
}

.ytcenter-placementsystem-activated .placementsystem-target {
  visibility: hidden;
}
.ytcenter-placementsystem-activated .placementsystem-target::before {
  float: left;
  display: inline-block;
  content: ' ';
  border-left: 1px solid #ccc;
  height: 28px;
  visibility: visible;
  position: absolute;
}

#watch8-ytcenter-buttons {
  position: relative;
  margin: 0 -10px;
}

.ytcenter-placementsystem-activated #watch8-ytcenter-buttons > *,
.ytcenter-placementsystem-activated #watch8-secondary-actions > *,
.ytcenter-placementsystem-activated #watch8-sentiment-actions > * {
  display: inline-block;
  position: relative;
}

.ytcenter-placementsystem-activated #watch7-sentiment-actions,
.ytcenter-placementsystem-activated #watch7-ytcenter-buttons,
.ytcenter-placementsystem-activated #watch8-sentiment-actions,
.ytcenter-placementsystem-activated #watch8-secondary-actions,
.ytcenter-placementsystem-activated #watch8-ytcenter-buttons {
  min-width: 40px;
  min-height: 28px;
}

/*.branded-page-v2-primary-col {
  overflow: visible!important;
}*/

.ytcenter-guide-hidden #guide {
  display: none!important;
}

.ytcenter-guide-hidden.ytcenter-site-center #watch7-main-container {
  padding: 0!important;
}

.ltr .ytcenter-intelligentfeed .yt-shelf-grid-item {
  margin-right: 7px!important;
}
.rtl .ytcenter-intelligentfeed .yt-shelf-grid-item {
  margin-left: 7px!important;
}

.ytcenter-ticker-hidden #ticker {
  display: none!important;
}
.sitewide-ticker-visible.ytcenter-ticker-hidden #masthead-positioner-height-offset {
  height: 90px!important;
}
.appbar-hidden.ytcenter-ticker-hidden #masthead-positioner-height-offset {
  height: 50px!important;
}

.sitewide-ticker-visible.ytcenter-ticker-hidden #appbar-guide-menu {
  margin-top: 50px!important;
}

.watched-badge {
  display: none;
  top: 2px !important;
}
.ltr .watched-badge {
  left: 2px !important;
}
.rtl .watched-badge {
  right: 2px !important;
}

.watched .watched-badge {
  display: block;
}

/* Front Page Feed - Not signed in */
.flex-width-enabled .lohp-large-shelf-container {
  width: 371px!important;
}

.ytcenter-hide-guide-count .guide-count {
  display: none !important;
}

.ytcenter-hide-feed-item-action-menu #feed .feed-item-action-menu {
  display: none !important;
}

.ytcenter-hide-recommended-channels .branded-page-v2-secondary-col {
  display: none !important;
}
.ytcenter-hide-recommended-channels .branded-page-v2-col-container {
  width: 100% !important;
}
.ytcenter-hide-recommended-channels .watch-sidebar-section {
  margin: 0 !important;
}

.site-center-aligned.ytcenter-hide-recommended-channels .browse-list-item-container:hover .compact-shelf .yt-uix-shelfslider-prev {
  left: -25px !important;
}
.site-center-aligned.ytcenter-hide-recommended-channels .browse-list-item-container:hover .compact-shelf .yt-uix-shelfslider-next {
  right: -25px !important;
}

.site-center-aligned.ytcenter-hide-recommended-channels .browse-list-item-container:hover .compact-shelf .yt-uix-button-shelf-slider-pager {
  width: 25px !important;
}