#watch7-views-info {
  top: -3px!important;
  bottom: initial!important;
}

.html5-video-player.ytcenter-autohide-none .html5-video-container {
  bottom: 35px!important;
}

.html5-video-player.ytcenter-autohide-progressbar .html5-video-container {
  bottom: 30px!important;
}

.html5-video-player.ytcenter-autohide-controlbar .html5-video-container {
  bottom: 3px!important;
}

html[data-player-size=fullscreen] .html5-video-player.ytcenter-autohide-controlbar .html5-video-container,
html[data-player-size=fullscreen] .html5-video-player.ytcenter-autohide-progressbar .html5-video-container,
html[data-player-size=fullscreen] .html5-video-player.ytcenter-autohide-none .html5-video-container,
html[data-player-size=fullscreen] .html5-video-player.ytcenter-autohide-both .html5-video-container {
  bottom: 0!important;
}

html[data-player-size=fullscreen] .ytp-user-idle.autominimize-progress-bar-fullscreenonly.playing-mode:not(.seeking-mode) .ytp-progress-bar-container:not(.ytp-block-autohide) .ytp-progress-list {
  -moz-transform: scaley(0.375);
  -ms-transform: scaley(0.375);
  -webkit-transform: scaley(0.375);
  transform: scaley(0.375);
  -moz-transition: -moz-transform .5s ease-in,background .15s;
  -webkit-transition: -webkit-transform .5s ease-in,background .15s;
  -ms-transition: -ms-transform .5s ease-in,background .15s;
  transition: transform .5s ease-in,background .15s;
}

html[data-player-size=fullscreen] .ytp-user-idle.autominimize-progress-bar-fullscreenonly.playing-mode:not(.seeking-mode) .ytp-progress-bar-container:not(.ytp-block-autohide) .ytp-progress-list {
-moz-transform: scaley(0.375);
-ms-transform: scaley(0.375);
-webkit-transform: scaley(0.375);
transform: scaley(0.375);
-moz-transition: -moz-transform .5s ease-in,background .15s;
-webkit-transition: -webkit-transform .5s ease-in,background .15s;
-ms-transition: -ms-transform .5s ease-in,background .15s;
transition: transform .5s ease-in,background .15s;
}

html[data-player-size=fullscreen] .ytp-user-idle.autominimize-progress-bar-fullscreenonly.playing-mode:not(.seeking-mode) .ytp-progress-bar-container:not(.ytp-block-autohide) .html5-scrubber-button {
  -moz-transform: translateY(2.5px) scale(0,0);
  -ms-transform: translateY(2.5px) scale(0,0);
  -webkit-transform: translateY(2.5px) scale(0,0);
  transform: translateY(2.5px) scale(0,0);
  -moz-transition: -moz-transform .5s ease-in;
  -webkit-transition: -webkit-transform .5s ease-in;
  -ms-transition: -ms-transform .5s ease-in;
  transition: transform .5s ease-in;
}

html[data-player-size=fullscreen] .ytp-user-idle.autominimize-progress-bar-fullscreenonly.playing-mode:not(.seeking-mode) .ytp-progress-bar-container:not(.ytp-block-autohide) .html5-clip-marker {
  -moz-transform: scaleY(0.1875);
  -ms-transform: scaleY(0.1875);
  -webkit-transform: scaleY(0.1875);
  transform: scaleY(0.1875);
  -moz-transition: -moz-transform .5s ease-in;
  -webkit-transition: -webkit-transform .5s ease-in;
  -ms-transition: -ms-transform .5s ease-in;
  transition: transform .5s ease-in;
}

.ytp-user-idle.autohide-controlbar.playing-mode:not(.seeking-mode) .html5-video-controls:not(.ytp-block-autohide),
html[data-player-size=fullscreen] .ytp-user-idle.autohide-controlbar-fullscreenonly.playing-mode:not(.seeking-mode) .html5-video-controls:not(.ytp-block-autohide) {
  -moz-transform: translatey(27px);
  -ms-transform: translatey(27px);
  -webkit-transform: translatey(27px);
  transform: translatey(27px);
  -moz-transition: -moz-transform .5s ease-in;
  -webkit-transition: -webkit-transform .5s ease-in;
  -ms-transition: -ms-transform .5s ease-in;
  transition: transform .5s ease-in;
}

/* Theme Fix*/
.white .html5-volume-slider-foreground:before, .white .html5-volume-slider-foreground:after {
  background: #bbb!important;
}
.white .html5-volume-slider-foreground:after {
  background: #777!important;
}

/* Chrome Scrubber Fix */
.ytp-force-transform {
  -webkit-transform: none!important;
}

/* Width and height fix */
/*.ltr .html5-video-player .video-click-tracking,
.ltr .html5-video-player .video-stream,
.ltr .html5-video-player .html5-video-content {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
}
.rtl .html5-video-player .video-click-tracking,
.rtl .html5-video-player .video-stream,
.rtl .html5-video-player .html5-video-content {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
}*/

.ytcenter-disable-endscreen .html5-video-player .html5-endscreen {
  display: none!important;
}

/* Player setPlayerType - Hide video container until finished */
.ytcenter-disable-html5 #movie_player.html5-video-player,
.ytcenter-disable-html5 #player-unavailable {
  display: none !important;
}

/* Playlist in player for fullscreen top player */
body.ytcenter-scrolled-top .html5-video-player.playlist-created .ytp-button.ytp-button-playlist,
body.ytcenter-scrolled-top .html5-video-player.playlist-created .ytp-button.ytp-button-prev,
body.ytcenter-scrolled-top .html5-video-player.playlist-created .ytp-button.ytp-button-next,
body.ytcenter-scrolled-top .html5-video-player.playlist-created.playlist-loaded .ytp-playlist-tray-container {
  display: block;
}
