.ytcenter-list {
  background: #fbfbfb;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.ytcenter-list.ytcenter-dragdrop-indragging,.ytcenter-list.ytcenter-dragdrop-indragging * {
  cursor: move!important;
}

.ytcenter-list-item:first-of-type {
  border-top-color: transparent;
}

.ytcenter-list-item {
  position: relative;
  clear: both;
  margin: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e3e3e3;
  font-size: 13px;
  width: 100%;
  height: 40px;
}

.ytcenter-list-item .ytcenter-dragdrop-handle {
  width: 20px;
  height: 40px;
  cursor: move;
  position: absolute;
}
.ltr .ytcenter-list-item .ytcenter-dragdrop-handle {
  left: 0;
}
.rtl .ytcenter-list-item .ytcenter-dragdrop-handle {
  left: 0;
}

.ytcenter-list-item.ytcenter-dragdrop-dragging {
  background: #f2f2f2;
}

.ytcenter-list-item.ytcenter-dragdrop-dragging li {
  background: 0;
}

.ytcenter-list-item.ytcenter-dragdrop-dragging .ytcenter-dragdrop-handle {
  background: url(//s.ytimg.com/yts/img/playlist/drag-drop-indicator-vflv1iR5Z.png) 10px 15px no-repeat;
}

.ytcenter-list.ytcenter-dragdrop-notdragging .ytcenter-list-item:hover .ytcenter-dragdrop-handle {
  background: url(//s.ytimg.com/yts/img/playlist/drag-drop-indicator-vflv1iR5Z.png) 10px 15px no-repeat;
}

.ltr .ytcenter-list-item .ytcenter-list-item-content {
  padding: 8px 13px 0 20px;
}
.rtl .ytcenter-list-item .ytcenter-list-item-content {
  padding: 8px 20px 0 13px;
}

.ytcenter-list:hover .ytcenter-list-item {
  width: auto;
}

.ytcenter-list-item .ytcenter-list-item-title {
  color: #000;
  font-weight: bold;
  font-size: 13px;
}

.ytcenter-list-item .ytcenter-list-item-subtext {
  display: block;
  font-size: 11px;
  color: #777;
  line-height: 1.4em;
  height: 1.4em;
}

.ytcenter-list-item-title,.ytcenter-list-item-subtext {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
}

.ytcenter-list-item.ytcenter-list-item-selected {
  border-color: #e6e6e6;
  background: #e6e6e6!important;
}

.ytcenter-list.ytcenter-dragdrop-notdragging .ytcenter-list-item:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.ytcenter-list-header-btn {
  min-width: 172px!important;
  height: 100%!important;
  border: 0!important;
  border-radius: 0!important;
  background: #fff!important;
  color: #000!important;
  text-shadow: 0 0 0!important;
  overflow: hidden!important;
  position: relative!important;
}
.ltr .ytcenter-list-header-btn {
  border-right: 1px solid #eee!important;
}
.rtl .ytcenter-list-header-btn {
  border-left: 1px solid #eee!important;
}

.ytcenter-list-header-btn:hover {
  background: 0;
  border: 0;
  padding-top: 1px;
}

.ytcenter-list-header-btn:hover:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  content: ' ';
  -moz-box-shadow: inset 0 0 5px #bbb;
  -ms-box-shadow: inset 0 0 5px #bbb;
  -webkit-box-shadow: inset 0 0 5px #bbb;
  box-shadow: inset 0 0 5px #bbb;
  background: transparent;
}