body.ytcenter-site-watch.ytcenter-resize-disaligned.flex-width-enabled>* #page {
	max-width: none !important;
}

/*.watch-wide #watch7-sidebar, .watch-wide #watch7-preview {
  top: 0 !important;
}

#watch7-sidebar {
  margin-top: 0 !important;
}*/