.ytcenter-settings-category-list {
  width: 100%;
}

.ytcenter-settings-category-list .ytcenter-settings-category-item {
  display: block;
  position: relative;
  border: none;
  height: 24px;
  background: none;
  color: #555;
  font-size: 11px;
  text-decoration: none;
  overflow: hidden;
}

.ytcenter-settings-category-list .ytcenter-settings-category-item:hover {
  background: #444;
  color: #fff;
}

.ytcenter-settings-category-list .ytcenter-settings-category-item.ytcenter-selected {
  background: #cc181e;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
}

.ytcenter-settings-category-list .ytcenter-settings-category-item .yt-valign-container {
  padding: 0 24px;
}
.ytcenter-settings-content {
  display: table;
  min-width: 1003px;
  margin: 0 -20px -20px -20px;
}
.ytcenter-settings-panel-left {
  position: relative;
  display: table-cell;
  padding-bottom: 30px;
  border-right: 1px solid #e2e2e2;
  min-width: 190px;
  width: 190px;
}

.ytcenter-settings-panel-right-content {
  width: 100%;
}

.ytcenter-settings-subcat-header li {
  float: left;
  margin-left: 13px;
}

.ytcenter-settings-subcat-header-wrapper {
  padding-top: 4px;
}

.ytcenter-settings-subcat-header .ytcenter-settings-subcat-header-item {
  border: 0;
  padding: 0 0.9em 3px;
  cursor: pointer;
  background: 0;
  color: #9c9c9c;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  line-height: 29px;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.ytcenter-settings-subcat-header {
  border-bottom: 1px solid #e6e6e6;
  height: 32px;
}

.ytcenter-settings-subcat-header li:last-child {
  margin-right: 13px;
}

.ytcenter-settings-subcat-header .ytcenter-settings-subcat-header-item.ytcenter-selected,
.ytcenter-settings-subcat-header .ytcenter-settings-subcat-header-item:hover {
  height: 29px;
  line-height: 29px;
  vertical-align: bottom;
  color: #333;
  border-bottom: 3px solid;
  border-color: #b00;
  padding-bottom: 0;
  display: inline-block;
  text-decoration: none;
}

.ytcenter-settings-subcat-content-wrapper {
  position: relative;
  padding: 8px 8px 31px;
}

.ytcenter-settings-subcat-statusbar-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  
  text-align: right;
  padding: 9px;
  color: #999;
  
  opacity: 0;
  filter: alpha(opacity=0);
  
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.ytcenter-settings-subcat-statusbar-wrapper.visible {
  opacity: 1;
  filter: alpha(opacity=100);
  
  -moz-transition: opacity .3s;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.ytcenter-settings-option-label {
  display: inline-block;
  width: 260px;
  color: #555;
  vertical-align: middle;
}
.ytcenter-settings-option-label.ytcenter-disabled {
  color: #B9B9B9
}
.ytcenter-settings-help {
  vertical-align: super;
  font-size: 10px;
}
.ytcenter-settings-version {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: #bbb;
  font-size: 11px;
  padding: 9px;
}
.ytcenter-settings-subcat-option {
  padding: 4px 0;
}

.ytcenter-settings-table {
  width: 100%;
}

.ytcenter-settings-table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.ytcenter-settings-table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.ytcenter-settings-table thead tr {
  background-color: #f8f8f8;
}

.ytcenter-settings-table thead tr td {
  font-weight: bold;
}

.ytcenter-settings-table tr td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

/* Theme: Dark */
.ytcenter-theme-dark .ytcenter-dialog-fg {
  background: #000;
  border: 1px solid #1d1d1d;
}

.ytcenter-theme-dark .ytcenter-dialog-bg {
  background: #000;
}

.ytcenter-theme-dark .yt-alert .close:hover {
  background-color: rgba(255, 255, 255, .15);
}

.ytcenter-theme-dark .ytcenter-settings-content,
.ytcenter-theme-dark .ytcenter-dialog-base .ytcenter-dialog-header h2,
.ytcenter-theme-dark .ytcenter-settings-category-list .ytcenter-settings-category-item {
  color: #aaa;
}

.ytcenter-theme-dark .ytcenter-settings-content a {
  color: #1a6299;
}

.ytcenter-theme-dark .ytcenter-dialog-base .ytcenter-dialog-header,
.ytcenter-theme-dark .ytcenter-settings-subcat-header {
  border-bottom: 1px solid #1d1d1d;
}

.ytcenter-theme-dark .ytcenter-dialog .yt-horizontal-rule {
  border-top: 1px solid #1d1d1d;
}

.ytcenter-theme-dark .ytcenter-settings-option-label {
  color: #aaa;
}

.ytcenter-theme-dark .ytcenter-settings-panel-left {
  border-right: 1px solid #1d1d1d;
}

.ytcenter-theme-dark .ytcenter-settings-category-list .ytcenter-settings-category-item:hover {
  background: #333;
}

.ytcenter-theme-dark .ytcenter-settings-subcat-header .ytcenter-settings-subcat-header-item {
  color: #636363;
}

.ytcenter-theme-dark .ytcenter-settings-subcat-header .ytcenter-settings-subcat-header-item.ytcenter-selected,
.ytcenter-theme-dark .ytcenter-settings-subcat-header .ytcenter-settings-subcat-header-item:hover {
  color: #ccc;
  border-color: #400;
}

.ytcenter-theme-dark .ytcenter-settings-table tr {
  border-top: 1px solid #333;
  background-color: #000;
}

.ytcenter-theme-dark .ytcenter-settings-table tr:nth-child(2n) {
  background-color: #070707;
}

.ytcenter-theme-dark .ytcenter-settings-table thead tr {
  background-color: #070707;
}

.ytcenter-theme-dark .ytcenter-settings-table thead tr td {
  font-weight: bold;
}

.ytcenter-theme-dark .ytcenter-settings-table tr td {
  border: 1px solid #222;
  padding: 6px 13px;
}

.ytcenter-theme-dark .ytcenter-settings-category-list .ytcenter-settings-category-item:hover {
  color: #ddd;
}

.ytcenter-theme-dark .ytcenter-settings-category-list .ytcenter-settings-category-item.ytcenter-selected {
  background: #330607;
  color: #fff;
}