/* $Topbar Static */
.ytcenter-exp-topbar-static #masthead-positioner {
  position: relative !important;
  top: 0 !important;
}
.ytcenter-lights-off #masthead-positioner {
  position: static !important;
  top: 0 !important;
}
.ytcenter-lights-off #masthead-positioner-height-offset,
.ytcenter-exp-topbar-static #masthead-positioner-height-offset {
  display: none !important;
}
.ytcenter-exp-topbar-static #appbar-guide-menu {
  top: 0px!important;
  padding-top: 90px!important;
}
.site-center-aligned #page {
  margin: 0 auto !important;
}

@media screen and (min-width: 1409px) {
  .ltr.show-guide-if-wide.guide-pinned #page,
  .ltr.show-guide.guide-pinned #page {
    padding-left: 230px !important;
  }
  .rtl.show-guide-if-wide.guide-pinned #page,
  .rtl.show-guide.guide-pinned #page {
    padding-right: 230px !important;
  }
}

.site-center-aligned.flex-width-enabled .content-alignment {
  width: auto !important;
  min-width: 1003px !important;
  max-width: 1425px !important;
  padding: 0 10px !important;
}

.ytcenter-player-darkside-bg #player {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: #1B1B1B;
}

.site-as-giant-card .feed-item-main.legacy-style.ytcenter-intelligentfeed .feed-item-main-content {
  width: auto !important;
}
.ltr.site-as-giant-card .feed-item-main.legacy-style .feed-item-main-content {
  width: auto !important;
  padding-right: 40px !important;
}
.rtl.site-as-giant-card .feed-item-main.legacy-style .feed-item-main-content {
  width: auto !important;
  padding-left: 40px !important;
}

.ytcenter-branding-remove-background.site-as-giant-card #watch7-sidebar {
  background-color: #fff !important;
}

.ytcenter-branding-remove-background.site-as-giant-card .watch-wide #watch7-sidebar {
  background-color: transparent!important;
}

.site-center-aligned #content #yt-admin {
  padding: 0 !important;
}
