/* $Topbar Static */
.ytcenter-exp-topbar-static #masthead-positioner {
  position: relative;
  top: 0;
}
.ytcenter-lights-off #masthead-positioner {
  z-index: 0;
}
.ytcenter-exp-topbar-static #appbar-guide-menu {
  top: 0px!important;
  padding-top: 90px!important;
}
.site-center-aligned #page {
  margin: 0 auto !important;
}

@media screen and (min-width: 1409px) {
  .ltr.show-guide-if-wide.guide-pinned #page,
  .ltr.show-guide.guide-pinned #page {
    padding-left: 230px !important;
  }
  .rtl.show-guide-if-wide.guide-pinned #page,
  .rtl.show-guide.guide-pinned #page {
    padding-right: 230px !important;
  }
}

.site-as-giant-card .feed-item-main.legacy-style.ytcenter-intelligentfeed .feed-item-main-content {
  width: auto !important;
}
.ltr.site-as-giant-card .feed-item-main.legacy-style .feed-item-main-content {
  width: auto !important;
  padding-right: 40px !important;
}
.rtl.site-as-giant-card .feed-item-main.legacy-style .feed-item-main-content {
  width: auto !important;
  padding-left: 40px !important;
}

/*.ytcenter-branding-remove-background.site-as-giant-card #watch7-sidebar {
  background-color: #fff !important;
}

.ytcenter-branding-remove-background.site-as-giant-card .watch-wide #watch7-sidebar {
  background-color: transparent!important;
}*/

.site-center-aligned #content #yt-admin {
  padding: 0 !important;
}