/*
  This works without any javascript, but it kind of creates an issue with the dropdown menues created by YouTube.
  To make this issue dissapear it would be best to first make the scrolling stick to the header
  and then after consisting scrolling up it will scroll the user all the way to the top.
  The same applies if the user already is at the top of the page and want to scroll down they have to do it consistently and then it will scroll down to the header.
  If the user isn't scrolled to the top it should display the player at its default location, which it currently doesn't do at the moment.
  The user should not be able to be scrolled between the header and the top of the page.
  It should only be able to either have it scrolled all the way to the top of the page or below the header (sticky player not visible).
  An animation would probably be very efficient when switching from the different states (scrolled all the way to the top, below the header/player).
 */

body.ytcenter-player-sticky #page {
  position: static !important;
}

body.ytcenter-player-sticky #player,
body.ytcenter-player-sticky #player-legacy {
  overflow: visible !important;
}

body.ytcenter-player-sticky #player-api,
body.ytcenter-player-sticky #player-api-legacy {
  position: absolute !important;
  top: -100% !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

body.ytcenter-player-sticky {
  position: absolute !important;
  top: 100% !important;
  width: 100% !important;
}