.ytcenter-site-center #yt-masthead,
.ytcenter-site-center #footer-hh {
  width: 1003px!important;
}

#page.search.no-flex .branded-page-v2-container {
  min-width: 0!important;
}

.ytcenter-settings-content {
  padding-left: 35px;
}

.ytcenter-settings-content > div {
  padding-left: 25px;
}

.player-disable #player {
  display: none!important;
}

.ytcenter-site-center #alerts {
  margin: 0 auto!important;
}


.ytcenter-site-center #sb-wrapper {
  width: 1003px!important;
}

body.ytcenter-channelv2 #yt-masthead,body.ytcenter-channelv2 #page-container > #page.channel {
  width: auto!important;
  min-width: 1003px;
  max-width: 1422px;
}

body.ytcenter-channelv2 #page.channel > #guide + #content {
  width: auto!important;
}

.ytcenter-site-center .ytcenter-settings-content,
.ytcenter-site-center .ytcenter-settings-title,
.ytcenter-site-center .ytcenter-settings-header {
  margin: 0 auto;
  width: 1103px;
}

.ytcenter-site-center #page-container > #page {
  margin: 0 auto!important;
}

.ytcenter-site-center #masthead-subnav > ul {
  width: 1003px;
  margin: 0 auto!important;
}

.ytcenter-site-center #page.channel.page-default {
  width: 100%!important;
}

.ytcenter-site-center #content-container #baseDiv,
.ytcenter-site-center #masthead-subnav {
  margin-left: auto!important;
  margin-right: auto!important;
}

.ytcenter-site-center #footer-container #footer {
  width: 1003px!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.ytcenter-site-center #yt-masthead-container #yt-masthead,
.ytcenter-site-center #header,
.ytcenter-site-center #alerts {
  width: 1003px;
  margin: 0 auto!important;
}

.ytcenter-site-search.ytcenter-site-center.exp-new-site-width #guide + #content {
  width: 823px!important;
}

.ytcenter-site-search.ytcenter-site-center.exp-new-site-width #page {
  width: 1003px!important;
}

/*.ytcenter-flex-width.ytcenter-site-center #yt-masthead {
  width: auto!important;
  max-width: 1422px!important;
  min-width: 1003px!important;
}*/


/*.ytcenter-site-watch #page-container {
  display: table!important;
}*/

.ytcenter-site-watch.ytcenter-site-center #content,
.site-left-aligned.ytcenter-site-center #page.watch #guide-container,
.site-left-aligned.ytcenter-site-center .watch7-playlist,
.site-left-aligned.ytcenter-site-center #player,
.site-left-aligned.ytcenter-site-center #watch7-main-container {
  -moz-transition: margin-left 0s ease-in-out;
  -ms-transition: margin-left 0s ease-in-out;
  -o-transition: margin-left 0s ease-in-out;
  -webkit-transition: margin-left 0s ease-in-out;
  transition: margin-left 0s ease-in-out;
}


#playlist {
  margin-right: 0px!important;
}

/*.watch7-playlist-bar {
  width: 100%!important;
}*/

/* Centering */

.ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #page-container {
  margin: 0 auto!important;
}

.ytcenter-site-not-watch.ytcenter-site-center #page {
  width: 1003px;
}

.ytcenter-site-watch.ytcenter-site-center #guide-container {
  left: 10px!important;
}

.ytcenter-site-watch.ytcenter-site-center.sidebar-collapsed.ytcenter-resize-disaligned #page {
  width: 100%!important;
}

.ytcenter-site-watch.ytcenter-site-center.sidebar-collapsed #watch7-video,
.ytcenter-site-watch.ytcenter-site-center.sidebar-collapsed #watch7-main {
  left: 0!important;
  width: 808px!important;
}

.ytcenter-site-watch.ytcenter-site-center.sidebar-expanded #watch7-sidebar {
  padding: 0 0 10px 0px!important;
}

.ytcenter-site-watch.ytcenter-site-center.sidebar-expanded .watch-wide #watch7-sidebar,
.ytcenter-site-watch.ytcenter-site-center .watch-playlist #watch7-sidebar,
.ytcenter-site-watch.ytcenter-site-center.sidebar-collapsed .watch-playlist #watch7-sidebar,
.ytcenter-site-watch.ytcenter-site-center .watch-branded #watch7-sidebar {
  padding-top: 15px!important;
}

.ytcenter-site-watch.ytcenter-site-center.sidebar-collapsed #watch7-sidebar {
  padding: 0 0 10px 0!important;
  width: 168px!important;
}

.ytcenter-site-watch.ytcenter-site-center.sidebar-collapsed .watch-wide #watch7-sidebar {
  padding-top: 15px!important;
}

.ytcenter-site-watch.ytcenter-site-center .watch7-playlist {
  padding-left: 0px;
}

.ytcenter-site-center.ytcenter-resize-main.ytcenter-player-center #watch7-creator-bar {
  margin: 0 auto;
}

.ytcenter-site-center.ytcenter-resize-disaligned #page,
.ytcenter-site-center.ytcenter-resize-disaligned #watch7-video {
  width: 100%!important;
}

.ytcenter-resize-disaligned.ytcenter-site-center .watch7-playlist-bar {
  margin-left: 0!important;
}

.ytcenter-resize-disaligned.ytcenter-site-center .watch7-playlist-data {
  padding-left: 0!important;
  margin: 0 auto!important;
}

.ytcenter-resize-disaligned #player,
.ytcenter-site-center.ytcenter-resize-disaligned #watch7-playlist-data {
  padding-left: 0!important;
}

.ytcenter-site-center.ytcenter-resize-disaligned #watch7-player {
  margin-left: auto!important;
  margin-right: auto!important;
}

.video-list .video-list-item .yt-uix-button-subscription-container {
  left: 73px!important;
}

.video-list .video-list-item a.related-channel {
  padding: 0!important;
}

.ytcenter-resize-main.ytcenter-site-center #page-container {
  width: 100%!important;
}

.ytcenter-resize-main.ytcenter-site-center #watch7-main-container {
  padding: 0!important;
}

.ytcenter-resize-disaligned.ytcenter-site-center #page-container {
  width: 100%;
}

.ytcenter-resize-disaligned.ytcenter-site-center #player-api {
  margin: 0 auto;
}
/* New */
.ytcenter-site-watch.ytcenter-site-center #watch7-main {
  width: 985px;
}

.ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #player + #content #watch7-main-container {
  width: 985px!important;
}

.ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #watch7-main-container,
.ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #watch7-main-container,
.ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #page #content #player {
  padding-left: 0 !important;
}
.ytcenter-site-watch.ytcenter-site-center.site-left-aligned #page.watch #guide + #content {
  margin: 0 auto!important;
}

.ytcenter-site-center.ytcenter-site-watch.ytcenter-resize-aligned #player,
.ytcenter-site-watch.ytcenter-resize-disaligned #player {
  margin: 0 auto;
}

.ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #watch7-main-container {
  position: relative;
  z-index: 0;
}

.ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #guide-container {
  z-index: 1;
}

.ytcenter-site-watch.ytcenter-site-center #content {
  width: auto!important;
}

.ytcenter-site-watch.ytcenter-site-center #content #watch7-main-container .watch-sidebar .video-list-item a {
  padding: 0!important;
}

.ytcenter-site-watch.ytcenter-non-resize #watch7-sidebar {
  margin-top: 0px!important;
}

.ytcenter-site-watch.ytcenter-site-center.ytcenter-non-resize #watch7-main,
.ytcenter-site-watch.ytcenter-site-center.ytcenter-non-resize #player {
  max-width: 985px;
}

@media screen and (min-width:1382px) {
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #watch7-main-container ,
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #watch7-main-container {
    margin: 0 auto;
  }
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #page-container {
    margin: 0 auto!important;
  }
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #guide-container {
    margin-left: -180px !important;
  }
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #player,
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #player,
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-non-resize #player {
    padding-left: 0 !important;
    padding-top: 0 !important;
  }
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #page.watch #player + #content,
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #page.watch #player + #content {
    margin: 0 auto!important;
  }

  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #page {
    width: 1003px!important;
  }
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-non-resize #watch7-main,
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-non-resize #player {
    margin: 0 auto!important;
  }
}
@media screen and (max-width:1381px) {
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #player + #watch7-main-container #watch7-main,
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned  #content {
    padding-left: 190px;
  }
  
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #page > #player {
    padding-left: 190px;
  }
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #content #player  {
    margin: auto!important;
  }
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #player + #content {
    padding-left: 190px;
  }
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #page.watch > #player,
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #page.watch > #player {
    margin: 0 auto!important;
  }
  
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #watch7-container > #player {
    margin: 0!important;
  }
  
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #page > #player {
    width: auto!important;
  }
}

@media screen and (min-width:1166px) {
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned  #guide-container {
    left: 10!important;
  }
}

@media screen and (max-width:1165px) {
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned.guide-collapsed #guide-container {
    margin-left: 0px !important;
  }
  
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #watch7-main,
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #watch7-main {
    padding-left: 0!important;
  }
  .ytcenter-site-watch.ytcenter-site-center.guide-collapsed.sidebar-expanded #page {
    width: 100%!important;
  }
  
  .ytcenter-site-watch.ytcenter-site-center  #watch7-main-container {
    width: 985px !important;
  }
  
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned  #watch7-main-container {
    margin: 0 !important;
  }

  /*.ytcenter-site-watch.ytcenter-site-center.guide-collapsed.ytcenter-resize-disaligned #content #player  {
    margin-left: -58px!important;
  }
  .ytcenter-site-watch.ytcenter-site-center.guide-expanded.ytcenter-resize-disaligned #content #player  {
    margin-left: -190px!important;
  }*/
  
  .ytcenter-site-watch.ytcenter-site-center.guide-collapsed.ytcenter-resize-disaligned #watch7-main-container {
    margin-left: 58px!important;
  }
  .ytcenter-site-watch.ytcenter-site-center.guide-expanded.ytcenter-resize-disaligned #watch7-main-container {
    margin-left: 190px!important;
  }
  
  .ytcenter-site-watch.ytcenter-site-center.guide-collapsed.ytcenter-resize-aligned #content,
  .ytcenter-site-watch.ytcenter-site-center.guide-collapsed.ytcenter-resize-aligned #page > #player {
    padding-left: 58px!important;
  }
  .ytcenter-site-watch.ytcenter-site-center.guide-expanded.ytcenter-resize-aligned #player {
    padding-left: 0!important;
  }
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-aligned #content #player {
    margin-left: 0!important;
  }
  
  .ytcenter-site-watch.ytcenter-site-center.guide-expanded.ytcenter-resize-aligned #content,
  .ytcenter-site-watch.ytcenter-site-center.guide-expanded.ytcenter-resize-aligned #page > #player  {
    padding-left: 190px!important;
  }
  
  .ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #watch7-main-container {
    z-index: 2!important;
  }
}

.ytcenter-site-watch.ytcenter-non-resize #player {
  position: relative;
  z-index: 3;
}
.ytcenter-site-center #page {
  padding-left: 0!important;
}

.ytcenter-site-watch.ytcenter-site-center.ytcenter-resize-disaligned #watch7-container > #player {
  margin: 0 auto!important;
  min-width: 0!important;
}

.ytcenter-site-watch.ytcenter-site-center #guide-container {
  position: absolute!important;
}

.ytcenter-site-watch.ytcenter-site-center #player,
.ytcenter-site-watch.ytcenter-site-center #watch7-main-container {
  width: 985px; /* Default fallback size when the resize feature fails. */
}