/* $Topbar Static */
.ytcenter-exp-topbar-static #masthead-positioner {
  position: static !important
}
.ytcenter-exp-topbar-static #masthead-positioner-height-offset {
  display: none !important
}
.ytcenter-exp-topbar-static #appbar-guide-menu {
  top: 90px!important;
}