.ytcenter-scrolled-top #page {
  position: static !important;
}

.ytcenter-scrolled-top #player,
.ytcenter-scrolled-top #player-legacy {
  overflow: visible !important;
}

.ytcenter-scrolled-top #player-api,
.ytcenter-scrolled-top #player-api-legacy {
  -moz-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
  
  position: absolute !important;
  top: -100% !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.ytcenter-scrolled-top {
  position: absolute !important;
  top: 100% !important;
  width: 100% !important;
}

.ytcenter-scrolled-top-element {
  width: 100%;
  height: 100%;
  max-height: 1px;
  
  background: #000;
  
  -moz-transition: max-height 0.5s;
  -webkit-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.ytcenter-scrolled-top .ytcenter-scrolled-top-element {
  max-height: 100%;
}

.ytcenter-scrolled-top-noscrollbar {
  overflow: hidden !important;
}

.ytcenter-scrolled-top #masthead-positioner {
  position: static !important;
}
.ytcenter-scrolled-top #guide {
  display: none !important;
}