.ytcenter-modules-colorpicker-huewrapper {
  width: 250px;
  height: 225px;
  display: inline-block;
}

.ytcenter-modules-colorpickerfield-hue {
  width: 225px;
  height: 225px;
  display: inline-block;
  border: 0;
}

.ytcenter-modules-huerange {
  display: inline-block;
  border: 0;
}

.ytcenter-modules-htmlcolor > *:first-child{
  width: 80px;
}

.ytcenter-modules-currentcolor {
  display: inline-block;
  float: left;
  width: 20px;
  height: 29px;
}

.ytcenter-modules-rgbwrapper {
  display: inline-block;
  vertical-align: top;
  width: 225px;
  height: 225px;
  position: relative;
}

.ytcenter-modules-hwrapper .ytcenter-modules-htmlcolorlabel + input {
  width: auto!important;
}

.ytcenter-modules-cpwrapper {
  width: 475px;
  position: relative;
  z-index: 4;
}

.ytcenter-modules-hue {
  position: absolute!important;
  top: 0!important;
  background: -moz-linear-gradient(top,#f00 0,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%)!important;
  background: -ms-linear-gradient(top,#f00 0,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%)!important;
  background: -o-linear-gradient(top,#f00 0,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%)!important;
  background: -webkit-gradient(linear,left top,left bottom,from(#f00),color-stop(0.17,#ff0),color-stop(0.33,#0f0),color-stop(0.5,#0ff),color-stop(0.67,#00f),color-stop(0.83,#f0f),to(#f00))!important;
  background: -webkit-linear-gradient(top,#f00 0,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%)!important;
  background: linear-gradient(top,#f00 0,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%)!important;
}

.ytcenter-modules-hue .ie-1 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000',endColorstr='#ffff00');
}

.ytcenter-modules-hue .ie-2 {
  height: 16%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00',endColorstr='#00ff00');
}

.ytcenter-modules-hue .ie-3 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff00',endColorstr='#00ffff');
}

.ytcenter-modules-hue .ie-4 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff',endColorstr='#0000ff');
}

.ytcenter-modules-hue .ie-5 {
  height: 16%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000ff',endColorstr='#ff00ff');
}

.ytcenter-modules-hue .ie-6 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff',endColorstr='#ff0000');
}

.ytcenter-modules-range {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #eee;
  outline: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.ytcenter-modules-range .ytcenter-modules-range-handle {
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font-weight: bold;
  font-size: 11px;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  border-top: 0;
  border-bottom: 0;
}

.ytcenter-modules-hue.ytcenter-modules-range {
  border-color: #000;
}

.ytcenter-modules-hue.ytcenter-range .ytcenter-modules-range-handle {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.ytcenter-modules-range.ytcenter-hue .ytcenter-modules-range-handle {
  border: 0!important;
  -moz-border-radius: 0!important;
  -webkit-border-radius: 0!important;
  border-radius: 0!important;
}

.ytcenter-modules-range.ytcenter-modules-hue {
  border: 0!important;
  outline: 0;
  overflow: visible;
  -moz-border-radius: 0!important;
  -webkit-border-radius: 0!important;
  border-radius: 0!important;
}

.ytcenter-modules-range-handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default!important;
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  border-color: #d3d3d3;
  background-color: #f8f8f8;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffcfcfc,EndColorStr=#fff8f8f8);
  background-image: -moz-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
  background-image: -ms-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
  background-image: -o-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(100%,#f8f8f8));
  background-image: -webkit-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
  background-image: linear-gradient(to bottom,#fcfcfc 0,#f8f8f8 100%);
}

.ytcenter-modules-range-handle .ytcenter-modules-range-handle-left {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 7px;
  border-left-color: #fff;
}

.ytcenter-modules-range-handle .ytcenter-modules-range-handle-right {
  position: absolute;
  top: -7px;
  left: 7px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 7px;
  border-right-color: #fff;
}

.ytcenter-modules-range.ytcenter-modules-hue .ytcenter-modules-range-handle .ytcenter-modules-range-handle-right {
  border-top: 7px solid transparent!important;
  border-bottom: 7px solid transparent!important;
  border-right: 7px solid #000!important;
}

.ytcenter-modules-colorpicker {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 1px solid #eee;
}

.ytcenter-modules-colorpicker-saturation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear,0 0,100% 0,from(#FFF),to(rgba(204,154,129,0)));
  background-image: -webkit-linear-gradient(left,#FFF,rgba(204,154,129,0));
  background-image: -moz-linear-gradient(left,#fff,rgba(204,154,129,0));
  background-image: -o-linear-gradient(left,#fff,rgba(204,154,129,0));
  background-image: -ms-linear-gradient(left,#fff,rgba(204,154,129,0));
  background-image: linear-gradient(to right,#fff,rgba(204,154,129,0));
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1,startColorstr='#FFFFFFFF, endColorstr=#00CC9A81');
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1,startColorstr='#FFFFFFFF',endColorstr='#00CC9A81');
}

.ytcenter-modules-colorpicker-value {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear,0 100%,0 0,from(#000),to(rgba(204,154,129,0)));
  background-image: -webkit-linear-gradient(bottom,#000,rgba(204,154,129,0));
  background-image: -moz-linear-gradient(bottom,#000,rgba(204,154,129,0));
  background-image: -o-linear-gradient(bottom,#000,rgba(204,154,129,0));
  background-image: -ms-linear-gradient(bottom,#000,rgba(204,154,129,0));
  background-image: linear-gradient(to top,#000,rgba(204,154,129,0));
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81, endColorstr=#FF000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81',endColorstr='#FF000000');
}

.ytcenter-modules-colorpicker-handler {
  position: absolute;
  top: 0;
  left: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 5px;
  height: 5px;
  border: 1px solid #fff;
  background: #000;
}

.ytcenter-scrollbar {
  overflow: hidden;
}

.ytcenter-scrollbar:hover {
  overflow: auto;
}

.ytcenter-scrollbar::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

.ytcenter-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

.ytcenter-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,.4);
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
}

.ytcenter-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: rgba(0,0,0,0.5);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
}

.ytcenter-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.ytcenter-scrollbar::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

.ytcenter-scrollbar::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

.ytcenter-scrollbar::-webkit-scrollbar-track:horizontal {
  border-width: 4px 0 0;
}

.ytcenter-scrollbar::-webkit-scrollbar-track:hover {
  background-color: rgba(0,0,0,.05);
  box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
}

.ytcenter-scrollbar::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
}

.ytcenter-scrollbar::-webkit-scrollbar-track:active {
  background-color: rgba(0,0,0,.05);
  box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);
}

.ytcenter-scrollbar::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07);
}

.ytcenter-list {
  background: #fbfbfb;
  width: 100%;
  height: 100%;
}

.ytcenter-list.ytcenter-dragdrop-indragging,.ytcenter-list.ytcenter-dragdrop-indragging * {
  cursor: move!important;
}

.ytcenter-list-item:first-of-type {
  border-top-color: transparent;
}

.ytcenter-list-item {
  position: relative;
  clear: both;
  margin: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e3e3e3;
  font-size: 13px;
  width: 100%;
  height: 40px;
}

.ytcenter-list-item .ytcenter-dragdrop-handle {
  width: 20px;
  height: 40px;
  cursor: move;
  position: absolute;
  left: 0;
}

.ytcenter-list-item.ytcenter-dragdrop-dragging {
  background: #f2f2f2;
}

.ytcenter-list-item.ytcenter-dragdrop-dragging li {
  background: 0;
}

.ytcenter-list-item.ytcenter-dragdrop-dragging .ytcenter-dragdrop-handle {
  background: url(//s.ytimg.com/yts/img/playlist/drag-drop-indicator-vflv1iR5Z.png) 10px 15px no-repeat;
}

.ytcenter-list.ytcenter-dragdrop-notdragging .ytcenter-list-item:hover .ytcenter-dragdrop-handle {
  background: url(//s.ytimg.com/yts/img/playlist/drag-drop-indicator-vflv1iR5Z.png) 10px 15px no-repeat;
}

.ytcenter-list-item .ytcenter-list-item-content {
  padding: 8px 13px 0 20px;
}

.ytcenter-list:hover .ytcenter-list-item {
  width: auto;
}

.ytcenter-list-item .ytcenter-list-item-title {
  color: #000;
  font-weight: bold;
  font-size: 13px;
}

.ytcenter-list-item .ytcenter-list-item-subtext {
  display: block;
  font-size: 11px;
  color: #777;
  line-height: 1.4em;
  height: 1.4em;
}

.ytcenter-list-item-title,.ytcenter-list-item-subtext {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
}

.ytcenter-list-item.ytcenter-list-item-selected {
  border-color: #e6e6e6;
  background: #e6e6e6!important;
}

.ytcenter-list.ytcenter-dragdrop-notdragging .ytcenter-list-item:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.ytcenter-list-header-btn {
  min-width: 172px!important;
  height: 100%!important;
  border: 0!important;
  border-radius: 0!important;
  background: #fff!important;
  border-right: 1px solid #eee!important;
  color: #000!important;
  text-shadow: 0 0 0!important;
  overflow: hidden!important;
  position: relative!important;
}

.ytcenter-list-header-btn:hover {
  background: 0;
  border: 0;
  padding-top: 1px;
}

.ytcenter-list-header-btn:hover:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  content: ' ';
  -moz-box-shadow: inset 0 0 5px #bbb;
  -ms-box-shadow: inset 0 0 5px #bbb;
  -webkit-box-shadow: inset 0 0 5px #bbb;
  box-shadow: inset 0 0 5px #bbb;
  background: transparent;
}

.ytcenter-confirmbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.ytcenter-confirmbox .ytcenter-confirmbox-mask {
  opacity: .95;
  filter: alpha(opacity=95);
  background: #000;
}

.ytcenter-confirmbox .ytcenter-confirmbox-floater {
  float: left;
  height: 50%;
  margin-bottom: -59px;
}

.ytcenter-confirmbox .ytcenter-confirmbox-box {
  width: 350px;
  height: 90px;
  position: relative;
  background: #fff;
  z-index: 10000;
  padding: 14px;
  clear: both;
  margin: 0 auto;
  border: 1px solid #bbb;
  -moz-box-shadow: 0 0 5px #bbb;
  -ms-box-shadow: 0 0 5px #bbb;
  -webkit-box-shadow: 0 0 5px #bbb;
  box-shadow: 0 0 5px #bbb;
}

.ytcenter-confirmbox .ytcenter-confirmbox-message {
  height: 100%;
}

.ytcenter-confirmbox .ytcenter-confirmbox-controls {
  margin-top: -28px;
}

.ytcenter-modules-hwrapper {
  margin-top: 10px;
}

.ytcenter-modules-htmlcolorlabel {
  width: 127px;
  vertical-align: middle;
}

.ytcenter-modules-range {
  display: inline-block;
  cursor: default;
  position: relative;
  border: 1px solid;
  outline: 0;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-color: #CCC #CCC #AAA;
  background: white;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ytcenter-modules-range a.ytcenter-modules-range-handle {
  position: absolute;
  top: -1px;
  left: 0px;
  outline: none;
  margin-left: -.5em;
  cursor: default;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}